/***************************
***   *CSS by Jennie*    ***
***There be dragons ahead***
***************************/

/* #region base */

html {
    box-sizing: border-box;
    font-size: inherit;
    --orange: rgb(251, 191, 69);
    --red: rgb(225, 57, 5);
    --yellow: rgb(235, 237, 118);
    --green: rgb(42, 173, 71);
    --blue: rgb(41, 75, 155);
    --purple: rgba(173, 57, 196, 0.858);
    --brown: rgb(119, 69, 33);
    --3p75px: 0.2343rem;
    --9p6px: 0.6rem;
    --9p72px: 0.6075rem;
    --10px: 0.625rem;
    --10p6px: 0.66625rem;
    --10p8px: 0.675rem;
    --11p88px: 0.7425rem;
    --12px: 0.75rem;
    --12p5px: 0.78125rem;
    --13px: 0.8125rem;
    --13p33px: 0.8331rem;
    --14p66px: 0.9162r --16px: 1rem;
    --15px: 0.9375rem;
    --16p66: 1.041rem;
    --17p33px: 1.08rem;
    --18px: 1.125rem;
    --19p5px: 1.21875rem;
    --20px: 1.25rem;
    --21p66px: 1.353rem;
    --23p33px: 1.45rem;
    --24px: 1.5rem;
    --25px: 1.5625rem;
    --26p66px: 1.66rem;
    --30px: 1.875rem;
    --36px: 2.25rem;
    --43p33px: 2.7rem;
    --46p66px: 2.91625rem;
    --56px: 3.5rem;
    --69px: 4.31rem;
}
body {
    border: 3px gray solid;
}
.inner {
    width: 100%;
    height: 100%;
    padding: 40px;
    outline: 2px solid slateblue;
}

/* #endregion base */
h1 {
    text-align:center;
    color:rgb(225, 57, 5);
    font-family: 'Courier New', Courier, monospace;
}
/* #region board */
div {
    margin: 20px;
    border: 3px solid red;
    width: 100%;
    height: 100%;
}
.square {
    display: inline;
    float: left;
    width: 50px;
    height: 50px;
}
.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .one { grid-area: 1 / 1 / 2 / 2; }
    .two { grid-area: 1 / 2 / 2 / 3; }
    .three { grid-area: 1 / 3 / 2 / 4; }
    .four { grid-area: 1 / 4 / 2 / 5; }
    .five { grid-area: 1 / 5 / 2 / 6; }
    .six { grid-area: 1 / 6 / 2 / 7; }
    .seven { grid-area: 1 / 7 / 2 / 8; }
    .eight { grid-area: 1 / 8 / 2 / 9; }
    .nine { grid-area: 2 / 8 / 3 / 9; }
    .ten { grid-area: 3 / 8 / 4 / 9; }
    .eleven { grid-area: 4 / 8 / 5 / 9; }
    .twelve { grid-area: 5 / 8 / 6 / 9; }
    .thirteen { grid-area: 6 / 8 / 7 / 9; }
    .fourteen { grid-area: 7 / 8 / 8 / 9; }
    .fifteen { grid-area: 8 / 8 / 9 / 9; }
    .sixteen { grid-area: 9 / 8 / 10 / 9; }
    .seventeen { grid-area: 10 / 8 / 11 / 9; }
    .eighteen { grid-area: 11 / 8 / 12 / 9; }
    .nineteen { grid-area: 12 / 8 / 13 / 9; }
    .twenty { grid-area: 12 / 7 / 13 / 8; }
    .twentyone { grid-area: 12 / 6 / 13 / 7; }
    .twentytwo { grid-area: 12 / 5 / 13 / 6; }
    .twentythree { grid-area: 12 / 4 / 13 / 5; }
    .twentyfour { grid-area: 12 / 3 / 13 / 4; }
    .twentyfive { grid-area: 12 / 2 / 13 / 3; }
    .twentysix { grid-area: 12 / 1 / 13 / 2; }
    .twentyseven { grid-area: 11 / 1 / 12 / 2; }
    .twentyeight { grid-area: 10 / 1 / 11 / 2; }
    .twentynine { grid-area: 9 / 1 / 10 / 2; }
    .thirty { grid-area: 8 / 1 / 9 / 2; }
    .thirtyone { grid-area: 7 / 1 / 8 / 2; }
    .thirtytwo { grid-area: 6 / 1 / 7 / 2; }
    .thirtythree { grid-area: 5 / 1 / 6 / 2; }
    .thirtyfour { grid-area: 4 / 1 / 5 / 2; }
    .thirtyfive { grid-area: 3 / 1 / 4 / 2; }
    .thirtysix { grid-area: 2 / 1 / 3 / 2; }
.orange {
    background-color: var(--orange);
}
.red {
    background-color: var(--red);
}
.yellow {
    background-color: var(--yellow);
}
.green {
    background-color: var(--green);
}
.blue {
    background-color: var(--blue);
}
.purple {
    background-color: var(--purple);
}
.brown {
    background-color: var(--brown);
}
/* #endregion board */
